---
import ButtonIcon from './UI/ButtonIcon.astro';
import links from '../list/shared-links.json';
import logo from '../assets/gboml.png';
import { Image } from 'astro:assets';
---

<header>
    <button class="menu-button" aria-label="Toggle navigation menu">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="header-title">
        <Image src={logo} alt="GBOML Logo" class="logo"/>
        <h1>
            <a href="/">GBOML</a>
        </h1>
    </div>
    
    <nav id="mobile-menu" class="mobile-menu">
        <ul>
            <li class="nav-link"><a href="/#home">Home</a></li>
            <li class="nav-link"><a href="/#about">About</a></li>
            <li class="nav-link"><a href="/papers">Publications</a></li>
        </ul>
    </nav>

    <nav class="desktop-nav">
        <ul>
            <li class="nav-link"><a href="/#home">Home</a></li>
            <li class="nav-link"><a href="/#about">About</a></li>
            <li class="nav-link"><a href="/papers">Publications</a></li>
        </ul>
    </nav>
    
    <div class="nav-icons">
         <ButtonIcon 
            href={links.documentation.url} 
            title={links.documentation.label} 
            icon={links.documentation.icon}
        />
        <ButtonIcon 
            href={links.github.url}
            title={links.github.label}
            icon={links.github.icon}
        />
    </div>
</header>

<script>
    let lastScrollTop = 0;
    const header = document.querySelector('header');
    const menuButton = document.querySelector('.menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    menuButton?.addEventListener('click', () => {
        menuButton.classList.toggle('active');
        mobileMenu?.classList.toggle('show');
    });

    // Close mobile menu when a link is clicked
    const mobileMenuLinks = document.querySelectorAll('.mobile-menu a');
    mobileMenuLinks.forEach(link => {
        link.addEventListener('click', () => {
            menuButton?.classList.remove('active');
            mobileMenu?.classList.remove('show');
        });
    });

    // Hide/show header au scroll
    window.addEventListener('scroll', () => {
        const scrollTop = window.scrollY;
        
        if (scrollTop > lastScrollTop && scrollTop > 100) {
            header?.classList.add('hide-header');
        } else {
            header?.classList.remove('hide-header');
        }
        
        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
    });
</script>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 120px;
        background-color: var(--secondary-color);
        position: fixed;
        top: 0;
        width: 100%;
        transition: transform 0.3s ease-in-out;
        z-index: 100;
        box-sizing: border-box;
    }

    .menu-button {
        display: none;
        flex-direction: column;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        color: var(--text-color);
        font-size: 1.5rem;
    }

    .menu-button i {
        width: 24px;
    }

    .menu-button i:nth-child(2) {
        display: none;
    }

    .menu-button.active i:nth-child(1) {
        display: none;
    }

    .menu-button.active i:nth-child(2) {
        display: block;
    }

    .header-title {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    header .logo {
        width: 35px;
        height: 35px;
        outline: 1px solid white;
        border-radius: 100%;
        outline-offset: -1px;
    }

    h1 {
        font-size: 1.8rem;
    }

    header.hide-header {
        transform: translateY(-100%);
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        padding-inline-start: 0;
    }

    li {
        list-style: none;
        font-size: 1.1rem;
    }

    .nav-link {
        transition: transform 0.2s ease-in-out;
        text-decoration: none;
    }

    .nav-link:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
        transform: translateY(-2px);
        color: var(--primary-color);
    }

    .nav-link:hover a {
        color: var(--primary-color);
    }

    .nav-icons {
        display: flex;
        gap: 16px;
    }

    .desktop-nav {
        display: flex;
    }

    .mobile-menu {
        font-size: 0.7rem;
        display: none;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--secondary-color);
        flex-direction: column;
        padding: 10px 30px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    
    .mobile-menu.show {
        border-top: 1px solid var(--border-color);
        max-height: 200px;
        opacity: 1;
    }

    .mobile-menu ul {
        flex-direction: column;
        gap: 15px;
    }

    @media(max-width: 1024px) {
        header {
            padding: 8px 30px;
        }

        .menu-button {
            display: flex;
            order: -1;
        }

        .desktop-nav {
            display: none;
        }

        .header-title {
            flex: 1;
            justify-content: center;
        }

        .mobile-menu {
            display: flex;
        }

        .nav-icons {
            order: 3;
        }
    }
</style>